<!DOCTYPE html>
<html>
  <head>
    <title>Inovo Careers</title>
  </head>
  <body>
    <h1>Inovo Careers</h1>
    <img src="static/banner.jpg" height="320" width="1600">
    <h2>About Inovo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Imperdiet proin fermentum leo vel orci. Dis parturient montes nascetur ridiculus mus mauris. Tristique senectus et netus et malesuada fames.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Imperdiet proin fermentum leo vel orci. Dis parturient montes nascetur ridiculus mus mauris. Tristique senectus et netus et malesuada fames.</p>
    <h2>Open Positions</h2>
    <p>TODO- Show th jobs here</p>
    <button>Contact Us</button>
  </body>
</html>